.container {
    display: flex;
    justify-content: center;
     margin: 100px;
  }
  

.box {
    background-color: #f8f8f8;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    max-width: 800px;
  }
  
  .boxheader {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .jsondata {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    white-space: pre-wrap;
  }
  
  .closebutton{
    margin: 20px;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    color:aliceblue;
    background-color: crimson;
  }